:root {
    --black: #221e1f;
    --white: #ede4e7;
    --red: #d85c64;
    --teal: #44aea2;
    --light-teal: #8bd1c7;
    --bg-teal: #52d8c9;
    --bg-red: #ee656e;
    --bg-white: #efe6e9;
    --hr-black: #221e1f40;
    --label-black: #3d3738;

    --doc-font-size: 16px;
    --content-board-width-percentage: 60%;
    --candidate-selection-dropdown-font-size: 1.2rem;
    --p-font-size: 1.5rem;
}

@media (max-width: 1350px) and (min-width: 992px) {
    :root {
        --doc-font-size: 13px;
        --content-board-width-percentage: 60%;
    }
}

@media (max-width: 992px) and (min-width: 768px) {
    :root {
        --doc-font-size: 11px;
        --content-board-width-percentage: 70%;
    }
}

@media (max-width: 768px) and (min-width: 576px) {
    :root {
        --doc-font-size: 9px;
        --content-board-width-percentage: 72%;
    }
}

@media (max-width: 576px) {
    :root {
        --doc-font-size: 9px;
        --content-board-width-percentage: 90%;
        --candidate-selection-dropdown-font-size: 2rem;
        --p-font-size: 1.75rem;
    }
}

* {
    box-sizing: content-box;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1rem;
    font-weight: 700;
}

html {
    font-size: var(--doc-font-size);
}

body {
    background: radial-gradient(
        circle at bottom left,
        var(--bg-teal) 20%,
        var(--bg-red) 60%,
        var(--bg-white) 80%
    );
    background-attachment: fixed;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    color: var(--black);
    margin-top: 16px;
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: var(--p-font-size);
    margin-top: 1.5rem;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    margin-left: calc((100% - var(--content-board-width-percentage)) / 2);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--label-black);
    color: var(--white);
    padding-top: 20px;
    padding-bottom: 20px;
}

input[type="radio"] {
    appearance: none;
    display: none;
}

label {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    width: 12em;
    height: 4rem;
    padding-left: 1em;
    margin: 0.1rem auto 0.1rem auto;
}

input[type="radio"]:checked + label,
label:hover {
    color: var(--white);
    background-color: var(--label-black);
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 700;
    width: 12em;
    height: 4rem;
}

.logos {
    display: flex;
    flex-direction: row-reverse;
}

.party-logo {
    height: 5vw;
    width: auto;
    min-height: 44px;
    aspect-ratio: auto;

    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.page-title {
    margin-top: 0rem;
    margin-bottom: 0rem;
    flex-grow: 1;
    align-self: center;

    font-weight: 800;
    white-space: nowrap;
}

.subtitle {
    display: block;
    font-size: 0.8em;
    font-weight: 600;
}

.sub-subtitle {
    display: block;
    font-size: 0.55em;
    font-weight: 500;
}

.section-w-title > .section-title {
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.section-w-bot-ruler > hr {
    border: var(--hr-black) solid 2px;
    border-radius: 3px;
    width: 90%;
    margin: 2rem auto 2rem auto;
}

.photo-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.photo-nav h2 {
    margin-top: 0em;
    margin-bottom: 0.5em;
}

.photo-nav > img {
    width: 95%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    outline: 3px ridge var(--black);

}

.photo-nav > nav {
    margin-left: 3rem;
}

.dropdown-menu {
    background-color: var(--label-black);
    color: var(--white);
    font-size: var(--candidate-selection-dropdown-font-size);
}

.dropdown-item {
    color: var(--white);
    width: auto;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.dropdown-header {
    margin-top: 0.5rem;
}

.dropdown-header.narrow-screen {
    font-size: 1.2rem;
}

.footer-logo {
    height: clamp(50px, 10vw, 100px);
}

.social-icon {
    width: 30px;
    height: auto;
}

body.narrow-screen {
    display: flex;
    margin-left: 5vw;
    margin-top: 5vw;
}

.logos.narrow-screen {
    display: flex;
    flex-direction: column;
}

.logos.narrow-screen .party-logo {
    padding: 0rem;
    margin-bottom: 3vw;
}

.page-title.narrow-screen {
    font-size: clamp(16px, 7vw, 30px);
}

.page-title.narrow-screen .subtitle {
    font-size: 0.9em;
}

.page-title.narrow-screen .sub-subtitle {
    font-size: 0.7em;
}

#content-board {
    display: flex;
    flex-direction: column;
    width: var(--content-board-width-percentage);
    margin: auto;
    margin-top: 0rem;
}

#candidate-section-title {
    margin-top: 0.1rem;
}

#candidate-selection-dropdown {
    margin-top: 1rem;
}

#footer-socials {
    margin-top: 15px;
}

#footer-logos {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 7px;
}

#footer-socials li {
    margin-top: 2px;
    margin-bottom: 2px;
}

#footer-socials a {
    font-size: 14px;
}

#footer-logos > a {
    margin-right: 2vw;
    margin-left: 2vw;
}

#candidate-selection-dropdown button.dropdown-toggle {
    background-color: var(--label-black);
    text-transform: uppercase;
    font-size: 2.1rem;
    font-weight: 700;
}
